.main {
    display: flex;
    justify-content: center;
    vertical-align: center;
    /* -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    -ms-perspective: 1500px;
    perspective: 1500px; */
}

table {
    width: 500px;
    height: 500px;
    background-image: url("https://i.pinimg.com/originals/46/86/8d/46868d9c6d9c38a97762c72cac6138c2.png");

    /* -webkit-transform: rotateX(59deg) rotate(45deg);
    -moz-transform: rotateX(59deg) rotate(45deg);
    -ms-transform: rotateX(59deg) rotate(45deg);
    transform: rotateX(59deg) rotate(45deg);
    transform-style: preserve-3d; */
}



